@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FCFAF9;
}

a {
  color: aliceblue;
  text-decoration: unset;
}

button {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

.NavBar {
  background-color: #ba274a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.NavBar .title {
  margin-left: 10px;
}


.NavBar .AuthOptions {
  display: flex;
  height: 100%;
}

.NavBar .AuthOptions button {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  color: aliceblue;
  background-color: #97203c;
  outline: none;
}

.NavBar .AuthOptions button:hover {
  background-color: #430e1b;
} 

.SignUp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.SignUp-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.SignUp-form input {
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.SignUp-form button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #333333;
  color: #FCFAF9;
}

.toast {
  text-align: center;
}

.SignIn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.SignIn-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.SignIn-form input {
  padding: 10px;
  width: 400px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius: 10px;
}

.SignIn-form button {
  padding: 10px;
  margin-top: 5px;
  border: black;
  border-radius: 10px;
  background-color: #333333;
  color: #FCFAF9;
}

.Coin {
  display: flex;
  flex: 0 20%; 
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.Coin button {
  border: 2px solid black;
  margin-top: 5px;
  padding: 5px;
  border-radius: 10px;
}

.Coins-summary {
  text-align: center;
  padding: 10px;
}

.Coins{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Portfolio-container {
  text-align: center;
  margin: 10px;
}

.Portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.CoinDetails {
  margin: 10px;
  text-align: center;
  width: auto;
}


.NavBar-input {
  height: 40px;
  width: 250px;
  text-align: center;
  border: none;
  font-size: 16px;
  margin-right: 2px;
}
.NavBar-button {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #97203c;
  color: aliceblue;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.NavBar-button:hover {
  background-color: #430e1b;
}