@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  color: aliceblue;
  text-decoration: unset;
}

button {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

.NavBar {
  background-color: tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.NavBar .title {
  margin-left: 10px;
}


.NavBar .AuthOptions {
  display: flex;
  height: 100%;
}

.NavBar .AuthOptions button {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  color: aliceblue;
  background-color: rgb(224, 54, 24);
  outline: none;
}

.NavBar .AuthOptions button:hover {
  background-color: rgb(197, 42, 14);
}

.Coin {
  color: black;
}

.SignUp {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.SignUp-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 10px;
}

.SignUp-form input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid aquamarine;
  border-radius: 10px;
}

.SignUp-form button {
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: aquamarine;
}

.toast {
  text-align: center;
}

.SignIn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.SignIn-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 10px;
}

.SignIn-form input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.SignIn-form button {
  padding: 10px;
  margin-top: 5px;
  border: black;
  border-radius: 10px;
  background-color: aquamarine;
}